# Virtualenv
venv/
.env
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.log

# Migrations (optionnel, tu peux les garder si tu bosses seule)
*/migrations/__pycache__/
# */migrations/*.py

# Django stuff
/staticfiles/
media/
postman/
.continue/prompts/*.yaml

.config/
